@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui;
  --color-primary: #3b82f6;
}

:root {
  background-color: white;
  color: black;
}

@layer base {
  body {
    @apply antialiased;
  }
}